---
import "../styles/reset.css";
import "../styles/global.css";

// data imports
import * as site from "../data/site.json";

const { siteName, description, author } = site;
const { id } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="title" content={`Mack Richardson | ${siteName}`} />
		<meta name="description" content={description} />
		<meta name="author" content={author} />
		<meta name="generator" content={Astro.generator} />
		<title>{siteName}</title>
		<link rel="icon" type="image/svg+xml" href="/assets/favicon.png" />

		<!-- Include JS Files -->
		<script src="/assets/js/click.js" defer></script>
	</head>
	<body>
		<main id={id || "home"}>
			<slot />
		</main>
	</body>
</html>
